@media  screen and (max-width:600px) {
  /*  */
  body,html{
    overflow-x: auto;
    width: 100%;
  }

.navbar{
/* flex-direction: column;   */
/* justify-content: center;
align-items: center; */
padding: 30px;
}
.logo{
  display: flex;
}
.fa-bars{
  display: block;
  cursor: pointer;
}
.navlinks{
  margin-top: -100px;
}
.explore{
  /* width: 100%;
  height: 100%; */
  padding: 0;
  margin: 0;
}
.explore{
  flex-direction: column;

}
  .popular-tours{
    flex-direction: column;
    /* width: 100%; */
  }
  input{
    display: block;
  }
  .form{
    flex-direction: column;
  }
  img{
  object-fit: contain;
}

}

